<ul>
  <div *ngIf="hoteles?.length>0; then templateListaHoteles else templateMensajeSinHoteles">
 </div>
 </ul>

 <ng-template #templateListaHoteles>
   <li *ngFor="let hotel of hoteles" class="hotel-card">
     <div class="row row-lista-hoteles">
      <div class="col s12 l10">
        <div class="col l3 s12 contenedor-imagen">
          <div class="wrapper-imagenes">
            <img class="responsive-img hotel-img" src="/assets/images/hotels/{{hotel.image}}" onerror='this.src="https://static.almundo.com/img/almundo-iso.png"'>
          </div>
        </div>
        <div class="col l7 s12">

          <div class="col s12">
                <a><b>{{hotel.name}}</b></a>
          </div>
          <div class="col s12">
              <app-star-meter [cantidadEstrellas]="hotel.stars"></app-star-meter>
          </div>
          <div class="col s12 contenedor-amenities">
              <app-caja-amenities [amenitiesList]="hotel.amenities"></app-caja-amenities>
          </div>
        </div>
      </div>
      <div class="col l2 s12 valign-wrapper borde-izquierdo-l borde-superior-s">
        <app-caja-precio class="col s12" [precio]="hotel.price"></app-caja-precio>
      </div>
      </div>
   </li>
 </ng-template>

 <ng-template #templateMensajeSinHoteles>
    <div id="card-alert" class="card yellow">
       <div class="card-content black-text">
          <p>No se encontraron hoteles</p>
       </div>
    </div>
 </ng-template>
