.filtros{
  margin-bottom: 10px;
}

.separador {
  padding-bottom: 5px;
  background: #f4f4f4;
}

.icon-collapsible-header {
  width: 15px;
  fill: #039be5;
}

.estirar{
  border:0px;
  padding: 10px;
}

.sin-bordes-internos {
  padding: 0px;
}

.sin-bordes {
  border: 0px
}

.sin-sombra {
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

[type="checkbox"] {
  position: initial;
  opacity: initial;
}


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 7px solid #039be5;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 0 solid #039be5;
  overflow: hidden;
  transition: 200ms ease;
}

.caret.rotate.open {
  transform: rotate(-180deg);
  border-width: 7px 7px 0 7px;
}

.header-filtro {
  padding-left: 0px;
}
@media (max-width: 992px) {
  .lista-contraida-mobile {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: none;
    box-shadow: none;
    overflow: hidden;
  }
}
