.icon-collapsible-header {
  width: 18px;
  height: 18px;
  fill: #039be5;
  margin-right: 10px;
}

.centrar-header {
  display: block;
}

.filtro-checkbox {
  position: initial;
  opacity: initial;
  margin: 10px 15px;
}

.filtros label {
  font-size: 1rem;
}

.filtro .separar-estrellas {
  padding: 0px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 7px solid #039be5;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 0 solid #039be5;
  overflow: hidden;
  transition: 200ms ease;
}

.caret.rotate.open {
  transform: rotate(-180deg);
  border-width: 7px 7px 0 7px;
}

.mostrar-cuerpo-colapsable {
  display: block;
}

.cuerpo-colapsable {
  padding: 0px;
  background: white;
}

.cuerpo-colapsable .filtro{
  padding: 0px 0px 10px 0px;
  margin: 0px;
}

.sin-bordes {
  border: 0px;
}

.separador {
  padding-bottom: 5px;
  background: #f4f4f4;
}

@media(min-width:992px){
  .mostrar-cuerpo-colapsable-l {
    display: block;
  }
}
